<!DOCTYPE html>
<html>
<head>
    <title>StudyBuddy - About</title>
    <link href="style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Viga" rel="stylesheet">
</head>
<body>
    <div>
        <ul>
            <li><a>Coming Soon</a></li>
            <li><a href="form.html">Getting Started</a></li>
            <li><a href>How Is Works</a></li>
            <li><a>Home</a></li>
        </ul>
    </div>
    
    
    
    <img class="web" src="hmm....png"/>
    <div id="all">
        <img id="logo" src="Untitled%20design.png"/>
        <h1>How it works</h1>
        <div id="paragraphs">
            <p>Whether it be to ask questions, review material, or simply study together, everyone needs a study buddy.</p>
            <p>StudyBuddy is a simple, easy, way to connect with fellow students and, as the name implies, study together. Partners are matched up accroding to subject and grade.</p>
            <button><a>Apply Now!</a></button>
        </div>
    </div>
</body>
</html>
